# wifi-captive-portal-esp-idf-component
#
# Copyright (c) 2021 Jeremy Carter <jeremy@jeremycarter.ca>
#
# This code is released under the license terms contained in the
# file named LICENSE, which is found in the top-level folder in
# this project. You must agree to follow those license terms,
# otherwise you aren't allowed to copy, distribute, or use any 
# part of this project in any way.

menu "[<>] Project connection config"

    # config EXAMPLE_CONNECT_WIFI
    #     bool "Connect using WiFi interface"
    #     default y
    #     help
    #         Protocol examples can use Wi-Fi and/or Ethernet to connect to the network.
    #         Choose this option to connect with WiFi

    # if EXAMPLE_CONNECT_WIFI

    #     comment " ----- WiFi Settings ----- "

    #     config EXAMPLE_WIFI_SSID
    #         string "WiFi SSID"
    #         default "mynetwork1213402"
    #         help
    #             SSID (network name) for the example to connect to.

    #     config EXAMPLE_WIFI_PASSWORD
    #         string "WiFi Password"
    #         default "mypassword657414545"
    #         help
    #             WiFi password (WPA or WPA2) for the example to use.
    #             Can be left blank if the network has no security set.

    #     config EXAMPLE_WIFI_CHANNEL
    #         int "WiFi Channel"
    #         range 1 13
    #         default 1
    #         help
    #             WiFi channel (network channel) for the example to use.
    
    #     config EXAMPLE_SCAN_LIST_SIZE
    #         int "WiFi Max size of scan list"
    #         range 0 20
    #         default 20
    #         help
    #             The size of array that will be used to retrieve the list of access points.

    #     config EXAMPLE_WIFI_CONNECT_TIMEOUT
    #         int "WiFi Connect Timeout (secs)"
    #         default 20
    #         range 1 10000
    #         help
    #             If a WiFi connection can't be established after this number of 
    #             seconds, try to connect again (if retries are enabled in the 
    #             below option).

    #     config EXAMPLE_WIFI_CONNECTION_RETRIES
    #         int "WiFi Maximum Connection Retries"
    #         default -1
    #         range -1 10000
    #         help
    #             If a WiFi connection can't be established for whatever reason,
    #             retry this number of times before giving up. Set to -1 for infinite 
    #             retries.

    #     comment " ----- End WiFi Settings ----- "

    # endif

    # config EXAMPLE_WIFI_AP_ENABLED
    #     bool "Enable WiFi Access Point (AP)"
    #     default y if EXAMPLE_CONNECT_WIFI
    #     default n if !EXAMPLE_CONNECT_WIFI
    #     help
    #         Start up a dedicated WiFi Access Point (AP) running on the 
    #         device if some conditions are met, which can then be used 
    #         to change the device's WiFi connection settings through a 
    #         web page.
            
    #         See the options below for more details.

    # if EXAMPLE_WIFI_AP_ENABLED

        comment " ----- WiFi Access Point Settings ----- "

        # choice EXAMPLE_WIFI_AP_STARTUP_CONDITION
        #     prompt "WiFi AP Startup"
        #     default EXAMPLE_WIFI_AP_STARTUP_CONNECTION_RETRIES_OPT if EXAMPLE_CONNECT_WIFI
        #     default EXAMPLE_WIFI_AP_STARTUP_ALWAYS_ON_OPT if !EXAMPLE_CONNECT_WIFI
        #     help
        #         Choose the condition when the device's built-in
        #         WiFi Access Point should become available. When it's
        #         active, you can use it to connect directly to the
        #         device and access a web page where you can change
        #         the device's WiFi connection settings.

        #         NOTE: The "Always On" option will disable deep 
        #         sleep if it was enabled.

        #     config EXAMPLE_WIFI_AP_STARTUP_CONNECTION_RETRIES_OPT
        #         bool "After Connection Retries"
        #         depends on EXAMPLE_CONNECT_WIFI
        #         help
        #             The device's built-in WiFi Access Point will become available
        #             after the device fails to connect to its configured WiFi network
        #             after this number of retries (defined below).

        #             You can then connect to the device directly through this WiFi
        #             Access Point, and access a web page where you can change its
        #             WiFi connection settings.

        #     config EXAMPLE_WIFI_AP_STARTUP_ALWAYS_ON_OPT
        #         bool "Always On"
        #         help
        #             Keep the device's built-in WiFi Access Point turned on all the time.

        #             NOTE: This will disable deep sleep if it was enabled.

        #             It's not very secure to use this option, because it means the device
        #             can be directly connected to at any time if someone knows the password, 
        #             and then they can change the device's settings so it will connect to a 
        #             different WiFi network.

        # endchoice

        # config EXAMPLE_WIFI_AP_STARTUP_CONNECTION_RETRIES
        #     int "WiFi AP Connection Retries Before Starting"
        #     depends on EXAMPLE_WIFI_AP_STARTUP_CONNECTION_RETRIES_OPT
        #     default 3
        #     range 0 10000
        #     help
        #         The device's built-in WiFi Access Point will become available
        #         after the device fails to connect to a WiFi network, and then
        #         after attempting to reconnect this number of times and still
        #         failing.

        config EXAMPLE_WIFI_AP_SSID
            string "WiFi AP SSID"
            default "wifi-net-84541"
            help
                Start up an access point with this SSID.

        config EXAMPLE_WIFI_AP_PASSWORD
            string "WiFi AP Password"
            default "DHJSd 86 fUIxdf"
            help
                Start up an access point with this Password.

        # config EXAMPLE_WIFI_AP_IP
        #     string "WiFi AP IP Address"
        #     default "192.168.4.1"
        #     help
        #         If a WiFi connection can't be established after the maximum number 
        #         of retries, start up an access point with this IP Address, which you 
        #         can connect to and then access a web page where you can change the 
        #         device's WiFi settings.

        config EXAMPLE_WIFI_AP_CHANNEL
            int "WiFi AP Channel"
            range 1 13
            default 1
            help
                WiFi channel (network channel) for the example to use.
    
        config EXAMPLE_MAX_AP_CONN
            int "WiFi Maximum connections AP"
            default 4
            help
                Max number of the STA connects to AP.
        
        comment " ----- End WiFi Access Point Settings ----- "

    # endif

    # config EXAMPLE_CONNECT_ETHERNET
    #     bool "connect using Ethernet interface"
    #     default n
    #     help
    #         Protocol examples can use Wi-Fi and/or Ethernet to connect to the network.
    #         Choose this option to connect with Ethernet

    # if EXAMPLE_CONNECT_ETHERNET
    #     choice EXAMPLE_USE_ETHERNET
    #         prompt "Ethernet Type"
    #         default EXAMPLE_USE_INTERNAL_ETHERNET if IDF_TARGET_ESP32
    #         default EXAMPLE_USE_DM9051 if !IDF_TARGET_ESP32
    #         help
    #             Select which kind of Ethernet will be used in the example.

    #         config EXAMPLE_USE_INTERNAL_ETHERNET
    #             depends on IDF_TARGET_ESP32
    #             select ETH_USE_ESP32_EMAC
    #             bool "Internal EMAC"
    #             help
    #                 Select internal Ethernet MAC controller.

    #         config EXAMPLE_USE_DM9051
    #             bool "DM9051 Module"
    #             select ETH_USE_SPI_ETHERNET
    #             select ETH_SPI_ETHERNET_DM9051
    #             help
    #                 Select external SPI-Ethernet module.

    #         config EXAMPLE_USE_OPENETH
    #             bool "OpenCores Ethernet MAC (EXPERIMENTAL)"
    #             select ETH_USE_OPENETH
    #             help
    #                 When this option is enabled, the example is built with support for
    #                 OpenCores Ethernet MAC, which allows testing the example in QEMU.
    #                 Note that this option is used for internal testing purposes, and
    #                 not officially supported. Examples built with this option enabled
    #                 will not run on a real ESP32 chip.

    #     endchoice

    #     if EXAMPLE_USE_INTERNAL_ETHERNET
    #         choice EXAMPLE_ETH_PHY_MODEL
    #             prompt "Ethernet PHY Device"
    #             default EXAMPLE_ETH_PHY_IP101
    #             help
    #                 Select the Ethernet PHY device to use in the example.

    #             config EXAMPLE_ETH_PHY_IP101
    #                 bool "IP101"
    #                 help
    #                     IP101 is a single port 10/100 MII/RMII/TP/Fiber Fast Ethernet Transceiver.
    #                     Goto http://www.icplus.com.tw/pp-IP101G.html for more information about it.

    #             config EXAMPLE_ETH_PHY_RTL8201
    #                 bool "RTL8201/SR8201"
    #                 help
    #                     RTL8201F/SR8201F is a single port 10/100Mb Ethernet Transceiver with auto MDIX.
    #                     Goto http://www.corechip-sz.com/productsview.asp?id=22 for more information about it.

    #             config EXAMPLE_ETH_PHY_LAN8720
    #                 bool "LAN8720"
    #                 help
    #                     LAN8720A is a small footprint RMII 10/100 Ethernet Transceiver with HP Auto-MDIX Support.
    #                     Goto https://www.microchip.com/LAN8720A for more information about it.

    #             config EXAMPLE_ETH_PHY_DP83848
    #                 bool "DP83848"
    #                 help
    #                     DP83848 is a single port 10/100Mb/s Ethernet Physical Layer Transceiver.
    #                     Goto http://www.ti.com/product/DP83848J for more information about it.
    #         endchoice

    #         config EXAMPLE_ETH_MDC_GPIO
    #             int "SMI MDC GPIO number"
    #             default 23
    #             help
    #                 Set the GPIO number used by SMI MDC.

    #         config EXAMPLE_ETH_MDIO_GPIO
    #             int "SMI MDIO GPIO number"
    #             default 18
    #             help
    #                 Set the GPIO number used by SMI MDIO.
    #     endif

    #     if EXAMPLE_USE_DM9051
    #         config EXAMPLE_DM9051_SPI_HOST
    #             int "SPI Host Number"
    #             range 0 2
    #             default 1
    #             help
    #                 Set the SPI host used to communicate with DM9051.

    #         config EXAMPLE_DM9051_SCLK_GPIO
    #             int "SPI SCLK GPIO number"
    #             range 0 33
    #             default 19
    #             help
    #                 Set the GPIO number used by SPI SCLK.

    #         config EXAMPLE_DM9051_MOSI_GPIO
    #             int "SPI MOSI GPIO number"
    #             range 0 33
    #             default 23
    #             help
    #                 Set the GPIO number used by SPI MOSI.

    #         config EXAMPLE_DM9051_MISO_GPIO
    #             int "SPI MISO GPIO number"
    #             range 0 33
    #             default 25
    #             help
    #                 Set the GPIO number used by SPI MISO.

    #         config EXAMPLE_DM9051_CS_GPIO
    #             int "SPI CS GPIO number"
    #             range 0 33
    #             default 22
    #             help
    #                 Set the GPIO number used by SPI CS.

    #         config EXAMPLE_DM9051_SPI_CLOCK_MHZ
    #             int "SPI clock speed (MHz)"
    #             range 20 80
    #             default 20
    #             help
    #                 Set the clock speed (MHz) of SPI interface.

    #         config EXAMPLE_DM9051_INT_GPIO
    #             int "Interrupt GPIO number"
    #             default 4
    #             help
    #                 Set the GPIO number used by DM9051 interrupt.
    #     endif

    #     config EXAMPLE_ETH_PHY_RST_GPIO
    #         int "PHY Reset GPIO number"
    #         default 5
    #         help
    #             Set the GPIO number used to reset PHY chip.
    #             Set to -1 to disable PHY chip hardware reset.

    #     config EXAMPLE_ETH_PHY_ADDR
    #         int "PHY Address"
    #         range 0 31 if EXAMPLE_USE_INTERNAL_ETHERNET
    #         range 1 1 if !EXAMPLE_USE_INTERNAL_ETHERNET
    #         default 1
    #         help
    #             Set PHY address according your board schematic.
    # endif

    # config EXAMPLE_CONNECT_IPV6
    #     bool "Obtain IPv6 address"
    #     default y
    #     help
    #         By default, examples will wait until IPv4 and IPv6 local link addresses are obtained.
    #         Disable this option if the network does not support IPv6.
    #         Choose the preferred IPv6 address type if the connection code should wait until other than
    #         the local link address gets assigned.

    # if EXAMPLE_CONNECT_IPV6
    #     choice EXAMPLE_CONNECT_PREFERRED_IPV6
    #         prompt "Preferred IPv6 Type"
    #         default EXAMPLE_CONNECT_IPV6_PREF_LOCAL_LINK
    #         help
    #             Select which kind of IPv6 address the connect logic waits for.

    #         config EXAMPLE_CONNECT_IPV6_PREF_LOCAL_LINK
    #             bool "Local Link Address"
    #             help
    #                 Blocks until Local link address assigned.

    #         config EXAMPLE_CONNECT_IPV6_PREF_GLOBAL
    #             bool "Global Address"
    #             help
    #                 Blocks until Global address assigned.

    #         config EXAMPLE_CONNECT_IPV6_PREF_SITE_LOCAL
    #             bool "Site Local Address"
    #             help
    #                 Blocks until Site link address assigned.

    #         config EXAMPLE_CONNECT_IPV6_PREF_UNIQUE_LOCAL
    #             bool "Unique Local Link Address"
    #             help
    #                 Blocks until Unique local address assigned.

    #     endchoice

    # endif

endmenu


# menu "[<>] Project display config"

#     choice EPAPER_IDF_DEVICE_MODEL_CHOICE
#         prompt "Select e-paper device"
#         default EPAPER_IDF_DEVICE_MODEL_NONE_OPT
#         help
#             Choose your e-paper device.

#         config EPAPER_IDF_DEVICE_MODEL_NONE_OPT
#             bool "none"

#         config EPAPER_IDF_DEVICE_MODEL_GDEW075T8_OPT
#             bool "Gdew075T8"
        
#         config EPAPER_IDF_DEVICE_MODEL_USER_OPT
#             bool "user"

#         # config EPAPER_IDF_DEVICE_MODEL_GDEW075T7_OPTION
#         #     bool "Gdew075T7"

#         # config EPAPER_IDF_DEVICE_MODEL_GDEH0154D67_OPTION
#         #     bool "Gdeh0154d67"
            
#         # config EPAPER_IDF_DEVICE_MODEL_GDEH0213B73_OPTION
#         #     bool "Gdeh0213b73"

#         # config EPAPER_IDF_DEVICE_MODEL_GDEP015OC1_OPTION
#         #     bool "Gdep015OC1"

#         # config EPAPER_IDF_DEVICE_MODEL_GDEW0213I5F_OPTION
#         #     bool "Gdew0213i5f"

#         # ...

#     endchoice

#     config EPAPER_IDF_DEVICE_MODEL_USER
#         string "e-paper device override"
#         depends on EPAPER_IDF_DEVICE_MODEL_USER_OPT
#         default "device/none.h" if EPAPER_IDF_DEVICE_MODEL_USER_OPT

#     config EPAPER_IDF_DEVICE_MODEL_GDEW075T8
#         string "e-paper device override"
#         depends on EPAPER_IDF_DEVICE_MODEL_GDEW075T8_OPT
#         default "device/Gdew075T8.h" if EPAPER_IDF_DEVICE_MODEL_GDEW075T8_OPT

#     config EPAPER_IDF_DEVICE_MODEL_NONE
#         string "e-paper device override"
#         depends on EPAPER_IDF_DEVICE_MODEL_NONE_OPT
#         default "device/none.h" if EPAPER_IDF_DEVICE_MODEL_NONE_OPT

#     comment " ----- Display Settings ----- "
#         depends on EPAPER_IDF_DEVICE_MODEL_GDEW075T8_OPT || EPAPER_IDF_DEVICE_MODEL_USER_OPT

#     config EPAPER_IDF_DISPLAY_ROTATION
#         int "Display rotation: 0 = 0°, 1 = 90° cw, 2 = 180° 3 = 270°"
#         depends on EPAPER_IDF_DEVICE_MODEL_GDEW075T8_OPT || EPAPER_IDF_DEVICE_MODEL_USER_OPT
#         range 0 3
#         default 0
#         help
#             The screen will display things with this rotation applied (in ° degrees):

#                 0 = 0°, 1 = 90° cw, 2 = 180° 3 = 270°

#     comment " -- Single e-paper SPI displays only (GoodDisplay/WaveShare) -- "
#         depends on EPAPER_IDF_DEVICE_MODEL_USER_OPT

#     config EPAPER_IDF_SPI_MOSI
#         int "SPI GPIO for MOSI (MOSI or DIN)"
#         depends on EPAPER_IDF_DEVICE_MODEL_GDEW075T8_OPT || EPAPER_IDF_DEVICE_MODEL_USER_OPT
#         range 0 35
#         default 23
#     config EPAPER_IDF_SPI_CLK
#         int "SPI GPIO for Clock (CLK)"
#         depends on EPAPER_IDF_DEVICE_MODEL_GDEW075T8_OPT || EPAPER_IDF_DEVICE_MODEL_USER_OPT
#         range 0 37
#         default 18
#     config EPAPER_IDF_SPI_CS
#         int "SPI GPIO for Chip Select (CS)"
#         depends on EPAPER_IDF_DEVICE_MODEL_GDEW075T8_OPT || EPAPER_IDF_DEVICE_MODEL_USER_OPT
#         range -1 34
#         default 5
#     config EPAPER_IDF_DC
#         int "SPI GPIO for DC (DC)"
#         depends on EPAPER_IDF_DEVICE_MODEL_GDEW075T8_OPT || EPAPER_IDF_DEVICE_MODEL_USER_OPT
#         range -1 34
#         default 13
#     config EPAPER_IDF_RST
#         int "SPI GPIO for Reset (RST)"
#         depends on EPAPER_IDF_DEVICE_MODEL_GDEW075T8_OPT || EPAPER_IDF_DEVICE_MODEL_USER_OPT
#         range -1 34
#         default 16
#     config EPAPER_IDF_BUSY
#         int "SPI GPIO for Busy (BUSY or DONE)"
#         depends on EPAPER_IDF_DEVICE_MODEL_GDEW075T8_OPT || EPAPER_IDF_DEVICE_MODEL_USER_OPT
#         range -1 39
#         default 4
    
#     if EPAPER_IDF_DEVICE_MODEL_USER_OPT
#         comment "Important: Set the below GPIO options to -1 unless using SPI multi-channel displays (wave12I48 or Plasticlogic)"
#         comment "The CS2 and MISO pins are only for Plasticlogic displays"
#     endif

#     config EPAPER_IDF_SPI_CS2
#         int "SPI GPIO for Chip Select2 (CS2)"
#         depends on EPAPER_IDF_DEVICE_MODEL_USER_OPT
#         range -1 34
#         default -1
#     config EPAPER_IDF_SPI_MISO
#         int "SPI GPIO for MISO (MISO)"
#         depends on EPAPER_IDF_DEVICE_MODEL_USER_OPT
#         range -1 36
#         default -1

#     if EPAPER_IDF_DEVICE_MODEL_USER_OPT
#         comment "Important: The below options are only for 4-module displays, like wave12I48 which has 4 SPI CS and BUSY pins (14 pins)"
#         comment "You can leave them as-is if you aren't using on of these displays"
#         comment "S2 - M2"
#         comment " | + | "
#         comment "M1 - S1"
#     endif

#     config EPAPER_IDF_SPI_M1_CS
#         int "* CS M1"
#         depends on EPAPER_IDF_DEVICE_MODEL_USER_OPT
#         range 0 23
#         default 23
#     config EPAPER_IDF_SPI_S1_CS
#         int "* CS S1"
#         depends on EPAPER_IDF_DEVICE_MODEL_USER_OPT
#         range 0 23
#         default 22
#     config EPAPER_IDF_SPI_M2_CS
#         int "* CS M2 do not use 16-17 when using PSRAM"
#         depends on EPAPER_IDF_DEVICE_MODEL_USER_OPT
#         range 0 27
#         default 16
#     config EPAPER_IDF_SPI_S2_CS
#         int "* CS S2"
#         depends on EPAPER_IDF_DEVICE_MODEL_USER_OPT
#         range 0 23
#         default 19

#     config EPAPER_IDF_SPI_M1_BUSY
#         int "* BUSY M1"
#         depends on EPAPER_IDF_DEVICE_MODEL_USER_OPT
#         range 0 32
#         default 32
#     config EPAPER_IDF_SPI_S1_BUSY
#         int "* BUSY S1"
#         depends on EPAPER_IDF_DEVICE_MODEL_USER_OPT
#         range 0 32
#         default 26
#     config EPAPER_IDF_SPI_M2_BUSY
#         int "* BUSY M2"
#         depends on EPAPER_IDF_DEVICE_MODEL_USER_OPT
#         range 0 32
#         default 18
#     config EPAPER_IDF_SPI_S2_BUSY
#         int "* BUSY S2"
#         depends on EPAPER_IDF_DEVICE_MODEL_USER_OPT
#         range 0 32
#         default 4

#     config EPAPER_IDF_M1S1_DC
#         int "* M1S1_DC: M1 & S1 share DC & RST"
#         depends on EPAPER_IDF_DEVICE_MODEL_USER_OPT
#         range 0 25
#         default 25
#     config EPAPER_IDF_M2S2_DC
#         int "* M2S2_DC do not use 16-17 when using PSRAM"
#         depends on EPAPER_IDF_DEVICE_MODEL_USER_OPT
#         range 0 27
#         default 17
#     config EPAPER_IDF_M1S1_RST
#         int "* M1S1_RST"
#         depends on EPAPER_IDF_DEVICE_MODEL_USER_OPT
#         range 0 33
#         default 33
#     config EPAPER_IDF_M2S2_RST
#         int "* M2S2_RST"
#         depends on EPAPER_IDF_DEVICE_MODEL_USER_OPT
#         range 0 33
#         default 5

#     comment " ----- End Display Settings ----- "
#         depends on EPAPER_IDF_DEVICE_MODEL_GDEW075T8_OPT || EPAPER_IDF_DEVICE_MODEL_USER_OPT

# endmenu


# menu "[<>] Project OTA firmware config"

#     config PROJECT_FIRMWARE_UPGRADE_URL
#         string "Firmware Upgrade URL"
#         default "https://esprog:8089/firmware.bin"
#         help
#             URL of the server which hosts the new firmware image.

#     config PROJECT_FIRMWARE_UPGRADE_URL2
#         string "Second Firmware Upgrade URL"
#         default "https://esprog:8089/www.bin"
#         help
#             URL of server which hosts the firmware image.

#     config PROJECT_FIRMWARE_UPGRADE_URL_FROM_STDIN
#         bool
#         default y if PROJECT_FIRMWARE_UPGRADE_URL = "FROM_STDIN"

#     config PROJECT_SKIP_COMMON_NAME_CHECK
#         bool "Skip server certificate CN fieldcheck"
#         default n
#         help
#             This allows you to skip the validation of OTA server certificate CN field.

#     config PROJECT_SKIP_VERSION_CHECK
#         bool "Skip firmware version check"
#         default n
#         help
#             This allows you to skip the firmware version check.
    
#     config EXAMPLE_GPIO_DIAGNOSTIC
#         int "Number of the GPIO input for diagnostic"
#         range 0 39
#         default 4
#         help
#             Used to demonstrate how a rollback works.
#             The selected GPIO will be configured as an input with internal pull-up enabled.
#             To trigger a rollback, this GPIO must be pulled low while the message
#             `Diagnostics (5 sec)...` which will be on first boot.
#             If GPIO is not pulled low then the operable of the app will be confirmed.

#     config PROJECT_OTA_RECV_TIMEOUT
#         int "OTA Receive Timeout"
#         default 5000
#         help
#             Maximum time for reception.

#     choice EXAMPLE_WEB_DEPLOY_MODE
#         prompt "Website deploy mode"
#         default EXAMPLE_WEB_DEPLOY_SF
#         help
#             Select website deploy mode.
#             You can deploy website to host, and ESP32 will retrieve them in a semihost way (JTAG is needed).
#             You can deploy website to SD card or SPI flash, and ESP32 will retrieve them via SDIO/SPI interface.
#             Detailed operation steps are listed in the example README file.
#         config EXAMPLE_WEB_DEPLOY_SEMIHOST
#             bool "Deploy website to host (JTAG is needed)"
#             help
#                 Deploy website to host.
#                 It is recommended to choose this mode during developing.
#         config EXAMPLE_WEB_DEPLOY_SD
#             depends on IDF_TARGET_ESP32
#             bool "Deploy website to SD card"
#             help
#                 Deploy website to SD card.
#                 Choose this production mode if the size of website is too large (bigger than 2MB).
#         config EXAMPLE_WEB_DEPLOY_SF
#             bool "Deploy website to SPI Nor Flash"
#             help
#                 Deploy website to SPI Nor Flash.
#                 Choose this production mode if the size of website is small (less than 2MB).
#     endchoice

#     if EXAMPLE_WEB_DEPLOY_SEMIHOST
#         config EXAMPLE_HOST_PATH_TO_MOUNT
#             string "Host path to mount (e.g. absolute path to web dist directory)"
#             default "PATH-TO-WEB-DIST_DIR"
#             help
#                 When using semihost in ESP32, you should specify the host path which will be mounted to VFS.
#                 Note that only absolute path is acceptable.
#     endif

#     config EXAMPLE_WEB_MOUNT_POINT
#         string "Website mount point in VFS"
#         default "/www"
#         help
#             Specify the mount point in VFS.

    

#     config EXAMPLE_FIRMWARE_UPGRADE_URL_FROM_STDIN
#         bool
#         default y if EXAMPLE_FIRMWARE_UPG_URL = "FROM_STDIN"

# endmenu


# menu "[<>] Project task config"
    
#     choice EPAPER_IDF_MAIN_TASK_CHOICE
#         prompt "Select project main task"
#         default EPAPER_IDF_MAIN_TASK_HTTP_SLIDESHOW_OPT
#         help
#             Choose the main task to run for this project.
#             You can pick one of the example tasks, or add 
#             your own tasks to this list.
        
#         config EPAPER_IDF_MAIN_TASK_HTTP_SLIDESHOW_OPT
#             bool "http-slideshow"

#         config EPAPER_IDF_MAIN_TASK_USER_OPT
#             bool "user"

#         config EPAPER_IDF_MAIN_TASK_NONE_OPT
#             bool "none"
#     endchoice

#     config EPAPER_IDF_MAIN_TASK_HTTP_SLIDESHOW
#         string "Project main task override"
#         depends on EPAPER_IDF_MAIN_TASK_HTTP_SLIDESHOW_OPT
#         default "task/http-slideshow.h" if EPAPER_IDF_MAIN_TASK_HTTP_SLIDESHOW_OPT
        
#     config EPAPER_IDF_MAIN_TASK_USER
#         string "Project main task override"
#         depends on EPAPER_IDF_MAIN_TASK_USER_OPT
#         default "task/none.h" if EPAPER_IDF_MAIN_TASK_USER_OPT
        
#     config EPAPER_IDF_MAIN_TASK_NONE
#         string "Project main task override"
#         depends on EPAPER_IDF_MAIN_TASK_NONE_OPT
#         default "task/none.h" if EPAPER_IDF_MAIN_TASK_NONE_OPT
                
#     comment " ----- Task Settings ----- "
#         depends on EPAPER_IDF_MAIN_TASK_HTTP_SLIDESHOW_OPT || EPAPER_IDF_MAIN_TASK_USER_OPT

#     config EPAPER_IDF_DEEP_SLEEP_SECONDS
#         int "Deep sleep after refresh [delay_secs: ilong_min - -15 || deep_sleep_secs: 15 - ilong_max]"
#         depends on EPAPER_IDF_MAIN_TASK_HTTP_SLIDESHOW_OPT || EPAPER_IDF_MAIN_TASK_USER_OPT
#         default 200
#         help
#             Seconds that the ESP32 device will deep sleep or delay between screen refreshes.

#             Range: [delay_secs: ilong_min - -15 || deep_sleep_secs: 15 - ilong_max]
            
#             Use a negative number if you'd like to keep everything powered on instead of deep 
#             sleeping, for example: -200
    
#     config EPAPER_IDF_IMAGES_INDEX_JSON_URL
#         string "URL to a JSON object of paths to images (8-bit max .bmp)"
#         depends on EPAPER_IDF_MAIN_TASK_HTTP_SLIDESHOW_OPT
#         default "https://defcronyke.gitlab.io/epaper-idf/http-slideshow/index.json"
#         help
#             A URL to an HTTP GET route hosting a JSON file containing an object specifying relative paths or 
#             URLs to Bitmap images to display on the screen (1, 4, or 8 bits per pixel).

#             See these example files:
            
#                 ../../public/http-slideshow/index.json          (used by default)
#                 ../../public/http-slideshow/index-path.json
#                 ../../public/http-slideshow/index-url.json
#                 ../../public/http-slideshow/index-url-inline.json

#     config EPAPER_IDF_IMAGES_INDEX_JSON_URL_HOST
#         string "HTTP Host header value for above URL"
#         depends on EPAPER_IDF_MAIN_TASK_HTTP_SLIDESHOW_OPT
#         default "defcronyke.gitlab.io"
#         help
#             The first part of the URL above, without the protocol at the beginning.

#     comment " ----- End Task Settings ----- "
#         depends on EPAPER_IDF_MAIN_TASK_HTTP_SLIDESHOW_OPT || EPAPER_IDF_MAIN_TASK_USER_OPT

# endmenu
